body {
    background: white;
    color: black;
}
h1, h3 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.header-image {
    width: 40px;
    height: 40px;
}
.hyperlink {
    font-size: 24px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.recipe-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    height: 280px;
    overflow: hidden;
}

footer {
    text-align: center;
}