body {
    background: white;
    color: black;
}
h1, h3 {
    text-align: center;
}

.header-image {
    width: 60px;
    height: 60px;
}
.hyperlink {
    font-size: 24px;
    text-align: center;
}
.recipe-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    height: 280px;
    overflow: hidden;
}

footer {
    text-align: center;
}