* {
 background-color: white;
 color: black;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    text-align: center;
}

.about-me, .tech-stack {
    text-align: center;
    margin: auto;
}

ul {
    text-align: center;
    list-style: inside;
    padding: 0;
}

.portfolio-container {
    display: flex;
    gap: 10px;
    column-gap: 10px;
    row-gap: 15px;
}

.contact-me {
    text-align: center;
}

.contact-icon {
    display: flex;
    gap: 5px;
    column-gap: 5px;
    row-gap: 5px;
}

#footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
}