html {
height: 100%;
width: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

ul {
    background-color: #1F2937;
    text-align: right;
}

.header-link-parent {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header-link-child {
    padding: 4px; 
    text-align: center;
    color: #E5E7EB;
    text-decoration: none;
}

.header-nav {
    padding: 15px 4px;
    display: inline-block;
}

.header-title {
    float: left;
    font-weight: bold;
    font-size: 24px;
    padding: 8px;
}